.footer {
  background-color: #0360acee;
  z-index: 1;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  @media only screen and (max-width: 850px) and (min-width: 760px) {
    position: sticky;
  }
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: blue;
  /*replace with your color*/
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: skyblue;
  /*replace with your color*/
}

a {
  color: white;
  text-decoration: none;
}

.navbar {
  min-height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding: 0 24px;
  background-color: #5583a4b1;
}