<header class="header">
  <nav class="navbar">
    <a href="home">
      <img id="logo" src="assets/images/logo.png" />
    </a>

    <p>NeoClothes</p>

    <ul class="nav-menu">
      <li class="nav-item"><a href="designing" class="nav-link">Diseña tu prenda</a></li>
      <li class="nav-item"><a href="collection" class="nav-link">Colección</a>
      <li class="nav-item"><a href="about-us" class="nav-link">Sobre nosotros</a>
      </li>
    </ul>

    <button id="btn" (click)="setActive()">
      <img id="menu-icon" src="assets/images/menu.png" />
    </button>
  </nav>
</header>