<div class="about-us">
  <div class="content">
    <h1> ¿Qué es NeoClothes?</h1>
    <p>NeoClothes propone una solución a uno de los mayores problemas del sector textil actual: las prendas en desuso
      por lucir anticuadas o no ser del agrado actual del comprador. Nos ponemos a disposición de empresas textiles con
      tiendas al por menor físicas y/u online Neoprinter, una serigrafiadora automática. Los clientes de dichas empresas
      podrán seleccionar uno de los diseños de un amplio catálogo o crear los suyos propios, Neoprinter se encargará de
      decorar sus prendas y las entregará de nuevo listas para su uso. Posteriormente, tras usarlas de manera cotidiana,
      podrán introducirse nuevamente en Neoprinter para ser limpiadas y preparadas para reutilizarse, plasmando en ella
      un nuevo diseño. Además, Neoprinter permite al cliente previsualizar el diseño seleccionado en su propio cuerpo
      mediante el "Modo Vestidor", gracias a las cámaras exteriores de la máquina.
    </p>
  </div>
  <div class="content">
    <h1>Nuestra historia</h1>
    <p>NeoClothes surge de la fusión de ideas de 4 amigos, como respuesta a una tarea propuesta en una
      asignatura de Ingeniería Electrónica Industrial y Automática de la ULPGC, carrera que todos cursaban
      en ese momento.
    </p>
  </div>
  <div class="grid">
    <div class="content">
      <h1>Misión</h1>
      <p>
        En NeoClothes nos preocupamos por la gran contaminación de sector textil, para ello queremos
        cambiar el concepto tradicional de la ropa y el vestidor. De ahí que hayamos desarrollado un sistema
        innovador que propone no solo reducir la contaminación por unidad producida, sino reducir el número
        total de dichas unidades.
      </p>
    </div>
    <div class="content withimg">
      <img src="assets/images/pollutionclothes.png" alt="clothes.png">
    </div>
    <div class="content withimg imgshowed">
      <img src="assets/images/reusesclothes.png" alt="fabrica.jpeg">
    </div>
    <div class="content">
      <h1>Visión</h1>
      <p>Soñamos con mejorar la situación medioambiental actual, aportando nuestro granito de arena. Poder
        diseñar y desarrollar nuestros propios productos y patentes, y así contribuir al comercio regional e
        incluso nacional, además de ser un influyente social, creando puestos de trabajos y promoviendo
        campañas sociales acorde con las responsabilidades y compromisos de la empresa.
      </p>
    </div>
    <div class="content withimg imghidden">
      <img src="assets/images/reusesclothes.png" alt="fabrica.jpeg">
    </div>
  </div>
  <div class="content">
    <h1>Valores:</h1>
    <p>Los valores hacen referencia a las cualidades de la empresa que influyen en el comportamiento de sus
      miembros. La seriedad, el buen hacer, la disciplina, confianza, compañerismo, compromiso, etc. son
      algunos de los valores que se transmiten en la empresa, además de la concienciación con el medio
      ambiente y la integración social entre otros muchos más. Algunos de nuestros compromisos:
    </p>
    <div class="grid">
      <div class="content inside">
        <h2>Compromiso social y familia</h2>
        <p>
          Compromiso con la sociedad y nuestros empleados, velando de manera prioritaria por el
          bienestar de ambos. Compartiendo con todos ellos un vínculo único, con este fin hemos desarrollado
          un sistema de comunicación abierto donde todos puedan aportar “Feedback” y ser escuchados.
        </p>
      </div>
      <div class="content inside">
        <h2>Compromiso con el medio ambiente</h2>
        <p>
          Desde el uso de tintas orgánicas, hasta la autosuficiencia de nuestras fábricas, pasando por
          nuestra producción eficiente, todo ello contribuye a mejorar la situación medioambiental en la que
          nos encontramos.
        </p>
      </div>
      <div class="content inside">
        <h2>Compromiso con la fiscalidad y contra la corrupción</h2>
        <p>
          Evitar la corrupción es un aspecto muy importante dentro de Neoclothes, por tanto,
          cumpliremos siempre las leyes de tributación y económicas vigentes, evitando así el fraude fiscal.
        </p>
      </div>
      <div class="content inside">
        <h2>Compromiso con los derechos humanos</h2>
        <p>
          Nuestra empresa se implica en proteger los derechos de los trabajadores y trabajadoras, cumpliendo
          con un sueldo equitativo, con contratosindefinidos tras el período de prueba. También con el derecho
          al descanso y a vacaciones periódicas pagadas.
        </p>
      </div>
    </div>
  </div>
</div>