/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url("assets/images/background.png");
  background-size: 100%;
  background-color: #696666;
  background-repeat: space;

  // background-size: cover;
  @media only screen and (max-width: 790px) {
    background-position-x: center;
    background-size: 98em auto;
  }
}